html, body {
    background-color: azure;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12x;
    width: auto;
    height: auto;
}

button {
    background-color: black;
    margin-left: 43%;
    margin-top: 3%;
    border-radius: 15%;
    border-left: 5px dashed white;
    border-right: 5px dashed white;
    border-top: none;
    border-bottom: none;
}

button>a {
    color: gold;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
}

button>a:hover {
    color: chartreuse;
}

img {
    cursor: pointer;
    width: 100px;
    height: 150px;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 28px;
    color: black;
    text-align: center;
}

h2, h3, h4, h5, h6 {
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}

a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    color: rgb(243, 109, 0);
    text-decoration: none;
}

li {
    list-style-type: none;
}

footer {
    text-align: center;
    margin-top: 3%;
}

footer>a {
    font-family: 'Satisfy', cursive;
    font-size: 20px;
    font-weight: bold;
}

.container {
    display: block;
}

.board {
    display: flex;
    flex-direction: row nowrap;
    text-align: center;
    justify-content: center;
}

.info {
    width: 25%;
    margin-right: 80px;
    font-weight: bold;
    font-size: 18px;
}

.score {
    width: 25%;
    font-weight: bold;
    font-size: 18px;
}

.bg-azure {
    background-color: azure;
}

.ext-card {
    padding-left: 10px;
}